@import "tailwindcss";

@keyframes float {
  0%   { transform: translateY(0) rotate(0deg);   opacity: 1; }
  50%  { transform: translateY(-100px) rotate(180deg); opacity: .5; }
  100% { transform: translateY(0) rotate(360deg); opacity: 1; }
}
.logoCloud > img {
  position: absolute;
  animation: float var(--dur) linear infinite;
}